.modal-overlay(ng-if='open'): .modal-inner.export-menu

    button.close(ng-click='close()') &times;
    h2.center(ng-if='!creation') {{ action }} drawing
    h2.center(ng-if='creation') Now share with your friends!

    .row

        form(ng-submit='submit()' name='exportForm')
            .box.box-danger(ng-if='error') {{ error }}

            .col-6
                img.created-image(ng-src='{{ imageURL }}')

            .col-6
                input.filename(ng-model='meta.title', placeholder='Title', type='text', required)
                textarea.description(ng-model='meta.description', placeholder='Description')
                input.email(ng-if='creation' ng-model='creation.email' placeholder='Enter an email address')
                input.name(ng-if='creation' ng-model='creation.name' placeholder='Your name')

                .buttons(ng-if='!creation')

                    if offline
                        button.export-wallpaper(ng-click='exportWallpaper()', ng-disabled='exportForm.$invalid', ng-class='{ "disabled" : exportForm.$invalid }') Save Wallpaper

                    button.button-success(type='submit', ng-disabled='exportForm.$invalid', ng-class='{ "disabled" : exportForm.$invalid }' ng-if='!category')
                        i(ng-class='"icon-" + action')
                        |  {{ action }}

                    button.button-success(type='submit', ng-disabled='exportForm.$invalid', ng-class='{ "disabled" : exportForm.$invalid }' ng-if='category')
                        span Share &amp; Continue

                .buttons(ng-if='creation')

                    a.button.button-email(ng-click='sendMail(creation)' href='#')
                        span Send Mail

                    a.button.button-facebook(ng-click='facebookShare(creation)' href='#')
                        img(src='/assets/button-icons/facebook-white.png' title='Share on Facebook')

                    
                    a.button.button-twitter(target='_new', type="button", ng-href="{{ buildTwitterURL(creation) }}")
                        img(src='/assets/button-icons/twitter-white.png' title='Share on Twitter')

    a.button.button-primary.center(ng-if='creation' ng-click='closeSocial()')
        span Continue