
	body {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	div {
		margin: 0;
		padding: 0;
	}
	p {
		margin: 10px;
	}

	#header {
		display: block;
		width: 100%;
		background-color: #ff842a;
		text-align: center;
	}
	#title {
		text-align: center;
		background-color: #dedede;
	}

	#title h1 {
		margin: 0;
	}
	#console{
		font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
		background-color: #111111;
		border: 2px solid #cccccc;
		border-radius: 5px;
		margin: 10px auto;
		width: 90%;
		min-height: 30px;
		padding: 10px;
		color: white;
		height: 220px;
    	overflow-y: auto;
	}

	#console err {
		color: red;
	}
	#console warn {
		color: yellow;
	}

	.btn {
	    display: block;
	    margin: 20px auto;
	    border-radius: 5px;
	    background-color: #ff842a;
	    color: white;
	    width: 150px;
	    min-height: 30px;
	    text-align: center;
	    text-decoration: none;
	    font-weight: bold;
	    padding: 10px 0 0px 0;
	}
	#control-panel, #connection-mgmt {
		padding: 0;
		width: 49%;
		margin: 0;
		float: left;
	}
	#connection-mgmt {
		height: 500px;
	}
	.container {
		border: 1px solid black;
		border-radius: 5px;
	}

	#conn-selector {
		width: 90%;
		display: block;
		text-align: center;
	}
	h3 {
		display: block;
		width: 100%;
		background-color: #dedede;
	}
	