
<section>
  <div class="page-width">
    <h2 class="center">Draw with Code!</h2>
    <h4 class="center">Code can be simple and fun to learn, and you can use it to do creative things.</h4>
    <h5 class="center">Check out some examples:</h5>
    <ul class="examples-list">
      <li ng-repeat="example in examples"><a href="#" ng-click="selectExample($index)" ng-class="{ active: $index === current }">{{ example.title }}</a></li>
    </ul>
    <div class="row">
      <div class="col-6">
        <editor ng-model="code" editable="true"></editor>
      </div>
      <div class="col-6">
        <display ng-source="code"></display>
      </div>
    </div>
    <div class="center"><a href="/level" class="button button-success success">Learn</a><a href="/playground" class="button">Playground</a></div>
  </div>
</section>